@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<UmidShop.Entities.Category>


<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="margin-top:30px;">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Butun Kategoriyalar</span>
                    </div>
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li><a asp-action="GetAll" asp-controller="Shop" asp-route-CategoryId="@item.Id">@item.Name</a></li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    @*<div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>*@

                </div>
                @{ 
                    var covers = ViewBag.CoverImage as IEnumerable<string>;
                }
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i <= covers.Count(); i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i.ToString()" @(i == 1 ? "class='active'" : "")></li>

                        }
                    </ol>
                    <div class="carousel-inner">
                        @{ 
                            int a = 1;
                        }
                        @foreach (var item in covers)
                        {

                            <div class="carousel-@(a == 1 ? "item active" : "item")">
                                <img style="height:450px;" class="d-block w-100" src="~/uploads/@item" alt="First slide">
                            </div>
                            a++;
                        }





                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>