@model UmidShop.Models.AddProductModel

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Mehsul Elave Etme:</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddProduct" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Mehsulun Adi</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping" class="control-label">Mehsulun Adi</label>
                <input asp-for="Shipping" class="form-control" />
                <span asp-validation-for="Shipping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Mehsulun Qiymeti</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Endirim:(Eger Endirim Yoxdusa 0 deyeri ver)</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Mehsulun Modeli</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Desc" class="control-label">Mehsul Haqqinda</label>
            <input asp-for="Desc" class="form-control" />
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mehsul Haqqinda:</label>
                <textarea class="form-control" asp-for="Desc" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="custom-file">
                <input type="file" asp-for="IsMainFile" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Esas Shekili Sec:(Yalniz bir shekil)</label>
            </div>
            <br />
            <br />
            <div class="custom-file">
                <input type="file" asp-for="Files" multiple class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Diger Shekiller(En Az bir shekil olmalidir)</label>
            </div>
            <br />
            <br />

            <div class="form-group">
                <label for="exampleFormControlSelect1">Categorya Sec:</label>
                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.CategoryList" id="exampleFormControlSelect1">
                    <option disabled>Categoriya Sec:</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Mehsul Elave Et" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Qayit</a>
</div>

